# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Conda environments
*.conda

# Environments
.env
.venv/
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# Configuración de IDEs
.idea/
.vscode/

# Archivos de sistema (macOS)
.DS_Store

# Archivos de sistema (Windows)
Thumbs.db

# Archivos de salida
*.zip
*.tar.gz
*.rar
